@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
}

.neon-text {
    color: #fffb00;
    text-shadow: 0 0 5px #fffb00, 0 0 15px #ffcc00;
}

.card-servicio {
    background: #0a0a0a;
    border: 1px solid #333;
    transition: all 0.3s ease;
}

.card-servicio:hover {
    border-color: #fffb00;
    box-shadow: 0 0 20px rgba(255, 251, 0, 0.3);
    transform: translateY(-5px);
}

.img-servicio {
    height: 180px;
    object-fit: cover;
    filter: grayscale(30%);
}

/* Estilo del Calendario Metalúrgico */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.day-btn {
    background: transparent;
    border: 1px solid #fffb00;
    color: #fffb00;
    padding: 15px;
    font-weight: bold;
    transition: 0.2s;
}

.day-btn:hover {
    background: #fffb00;
    color: #000;
    box-shadow: 0 0 10px #fffb00;
}

/* Inputs estilo Cyberpunk */
.form-control:focus {
    border-color: #fffb00;
    box-shadow: 0 0 10px #fffb00;
}